{% extends 'lk.html' %}

{% block content %}


<div class="s_payments">
    <div class="payments__main">
        <div class="payments__title">Оплата по счетчикам</div>
        <div class="payments__container">
            <form action="{{ url_for('pay') }}" method="post" novalidate>
                {{ form_payment.csrf_token() }}
                <ul>
                    <li>
                        {% if form_payment.errors['payment'] %}
                        {{ form_payment.payment() }}
                        <span class="errors">{{ form_payment.errors['payment'][0] }}</span>
                        {% else %}
                        {{ form_payment.payment() }}
                        {% endif %} 
                    </li>
                    <li>{{ form_payment.submit() }}</li>
                </ul>
            </form>
        </div>
        <a href="{{ url_for('analytics') }}" class="btn__close">
            <span class="material-symbols-outlined">close</span>
        </a>
        <div class="payments__note">
            Вы будете перенаправлены на страницу банка для ввода данных карты
        </div>
    </div>
</div>

{% endblock %}